.name {
    font-family: 'Open Sans', sans-serif;
    float:left;
    font-size: 35px;
    margin-left: 10px;
}

#content {
    margin:0px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    color:black;
    font-size: 70px;
    font-family:'Crimson Text', serif;
    font-weight: 400;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight:400;
    
}

h3{
    margin:0px;
    font-family: 'Crimson Text', serif;
    font-size: 25px;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
	
.clearfloat {
    clear: both;
}

.floatLeft{
    float:left;
}

.floatRight{
    float:right;
}

#logo{
    margin:0px;
    float:left;
    width: 90px;
    z-index: 100;    
}

#nav {
    z-index: 100;
    top:0px;
    right:0px;
    left:0px;
    margin: 0px 20px;
    padding-top: 5px;
    margin:0px;
    padding: 15px 20px;
    list-style:none;
}

#nav li{
    text-align: center;
    line-height: 50px;
    list-style: none;
    width: 160px;
}

#nav a{
    font-family: 'Open Sans', sans-serif;
    display:block;
    text-decoration: none;
    color:#808080;
    font-size: 20px;
}

#nav a:hover {
    color:black;
}

#nav a.active {
    color:#90B5CB;
}

#footer {
    text-align: center;
}

.social-icon{
    display:inline-block;
    font-size: 2em;
    margin-right: 30px;
}

.button{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 20px;
    background-color:#808080;
    text-align: center;
    border-radius: 3%;
}
        
.button > a {
    text-decoration: none;
    color:white;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}

.button:hover {
     background-color: #90B5CB;
}

.dotted{
    text-decoration: none;
    border-bottom: 2px #90B5CB dotted;
}

.blue{
    color: #90B5CB;
}

.grey {
    color: #808080;
}


.grey:hover{
    color: #90B5CB;
}



