.name {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 35px;
}

h1{
    color:black;
    font-size: 70px;
    font-family:'Crimson Pro', serif;
    font-weight: 400;
}

h2{
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    font-weight:400;
}

h3{
    margin:0px;
    font-family: 'Crimson Pro', serif;
    font-size: 25px;
}

h4{
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

p{
    font-family: 'Crimson Pro', serif;
    font-size: 22px;
}

#logo{
    width: 150px;
}

.navbar{margin-bottom: 20px;}

.nav-link {
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.nav-item {
    margin: 0px 25px;
}

.nav-item > .active {
    color: #90B5CB !important;
}


.nav-item > a:hover {
    color:black !important;
}


#footer {
    text-align: center;
}

.social-icon{
    display:inline-block;
    font-size: 2em;
    margin-right: 30px;
}

.btn-primary{
    font-family: 'Noto Sans', sans-serif;
    background-color:#808080;
    color:white;
    font-size: 15px;
    border:none;
    
}

.btn-primary:hover {
     background-color: #90B5CB;
}

.dotted{
    text-decoration: none;
    border-bottom: 2px #90B5CB dotted;
}

.blue{
    color: #90B5CB;
}

.grey {
    color: #808080;
}


.grey:hover{
    color: #90B5CB;
}

.contact{
    width: 250px;
    margin: 10px;
}

a{
    color: #90B5CB;
}

.white{
    color: white;
}

blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}
